header{
    background-image: url(../img/banner2.png);
}
h1{
    padding: 50px;
    margin-bottom: 50px;
    font-size: 45px;
}
input{
    text-align: center;
    margin-left: 10px;
    border-radius: 6px;
    height: 28px;
    width: 180px;
}
.contenedor{
    display: flex;
    align-items: center;
    margin: 13px
}
.contenedor > div{
    width: 50%;
    margin: 10px;
    text-align: left;
}
.contenedor > div:first-child{
    text-align: right;
    font-size: 23px;
    margin-right: 70px;
}
.botonv{
    background-color: rgb(118, 207, 137);
}
.botonr{
    background-color: rgb(221, 125, 125);
}
.error{
    color: rgb(204, 25, 19);
    font-size: 30px;
    font-style: bold;
}